<div class="site-header">
  <h1 class="site-title">
    <a href="{{ site_url }}/">
      {{ site_title }}
    </a>
  </h1>

  <nav class="site-nav">
    <a href="{{ site_url }}/about.html">about</a>
  </nav>
</div>
<hr />
